#booking {
    @include flexVer;
    margin-top: $double-offset;
    margin-bottom: $triple-offset;

    h2 {
        @include sectionHeading;
    }  
    
    @include media('>=phone', '<970px') {
        margin-top: 0;
    }
}

.booking-Container {
    @include flexHor;
    width: 100%;
}

.booking-LeftContainer {
    @include flexVer;
    align-items: flex-start;
    flex: 1 1 50%;

    &__boxes {
        @include flexHor;
        // align-items: flex-start;
        justify-content: flex-start;
        padding-left: $offset;
        
        i {
            font-size: 30px;
            min-width: 30px;
        }
    
        p {
            font-size: 20px;
            padding: 10px 1rem;
            font-family: $secondary-font;
            font-weight: 700;
        }
    }
}

.booking-RightContainer {
    flex: 1 1 50%;
    @include flexHor;
    
}


.booking-card {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    a {
        @include flexVer;
        padding: 10px;

        p {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    img {
        width: 80px !important;
        height: 80px !important;
        margin-bottom: 5px;
    }

    &:hover,
    &:active {
        scale: 1.02;
        transition: all 0.1s ease-in-out;
        // border: 1px solid grey;
        background-color: whitesmoke;
    }
}

@include media('>=950px', '<1300px') {
    .booking-LeftContainer {
        min-width: 450px !important;
        flex: 1 1 70%;

        &__boxes {
            margin: 10px 0;
        }
    }
    .booking-RightContainer {
        flex-wrap: wrap;
    }
}
@include media('>=phone', '<950px') {
    .booking-Container {
        @include flexVer;
    }

    .booking-LeftContainer {
        width: 100%;
        margin-bottom: $offset;
    }
    .booking-RightContainer {
        width: 100%;
        justify-content: space-around;
    }

}

@include media('>=phone', '<tablet') {
    .booking-LeftContainer__boxes {
        padding-left: 10px;

        i {
            font-size: 30px;
            min-width: 30px;
        }

        p {
            font-size: 1.2rem;
            padding: 10px 10px;
        }
    }

    .booking-RightContainer {
        flex-wrap: wrap;
    }

    .booking-card {
        flex: 1 1 35%;
    }
}
@include media('>=phone', '<450px') {
    .booking-LeftContainer__boxes {
        padding-left: 10px;
        // margin: 0 auto;

        i {
            font-size: 25px;
            min-width: 25px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .booking-card {
        flex: 1 1 100%;
    }
}
