#gallery {
    @include flexVer;
    margin-top: $offset;

    h2 {
        @include sectionHeading;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: repeat(16, 6vh);
    grid-template-rows: repeat(16, 3.6vw);
    grid-gap: 10px;
    // margin-top: $offset;
    // padding: $offset 0;
}

.gallery__item {
    cursor: pointer;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 9;
}
.gallery__item--2 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--3 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery__item--4 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery__item--5 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 13;
    grid-row-end: 17;
}
.gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 17;
}
.gallery__item--7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 17;
}
.gallery__item--8 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 17;
}



// *****************************
// *****************************
// Lightbox (Modal Image Gallery) START
// *****************************
// *****************************
.thumbnail-container {
    @include flexHor;
    background-color: black;
    height: 20vh;
    padding-top: 20px;
    
    .thumbnail {
        flex: 1 1 auto;
        margin: 2px;
        height: 100%;
        width: 100%;

        .demo {
            height: 100%;
            width: 100%;
            cursor: pointer;
            display: block;
            object-fit: cover;
            object-position: 60% 65%;
        }
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 600;
    padding-top: 70px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: 70vh;
    width: 90%;
    max-width: 1200px;

    .mySlides {
        height: 100%;

        img {
            display: block;
            height: 100%;
            object-fit: contain;
            background-color: black;
        }
    }
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prevBtn,
.nextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextBtn {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevBtn:hover,
.nextBtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
//   background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  width: 6rem;
  text-align: center;
top: -3rem;
left: calc(50% - 3rem);
}

img.demo {
    opacity: 0.4;
}

.demo.activeThumbnail {
    opacity: 1;
}


.activeThumbnail,
.demo:hover {
    opacity: 1;
}
// *****************************
// *****************************
// Lightbox (Modal Image Gallery) END
// *****************************
// *****************************







