@font-face {
   font-family: 'izhitsaCyrillic';
   src: url("../fonts/izhitsa-cyrillic_[allfont.ru].ttf") format("truetype");
}
$main-font: 'Muli', sans-serif;
$secondary-font: 'Forum', cursive;
$third-font: 'Philosopher', sans-serif;
$forth-font: 'izhitsaCyrillic', arial;;
$offset: 2rem;
$double-offset: 4rem;
$triple-offset: 6rem;
$dark-color: #030303;
$white-color: whitesmoke;
$soft-color: #EED39B;
$secondary-color: #576927;
$hover-color: #eeb43f;

// $main-width: 80%;
// $side-width: 100% - $main-width;

$nav-size: 130px;
$title-size: 9vmax;
$easing: cubic-bezier(.694, 0, .335, 1);
$heading-margin-top: 6rem;

@mixin bor {
    border: 1px solid red;
}

@mixin flexHor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexVer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin sectionHeading {
    font-size: 6vmin;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(0, 77, 0);
    // font-family: $third-font;
    // font-family: 'CyrillicOld', arial;
    font-family: $forth-font;
    text-shadow: 4px 4px 4px #aaa;
    margin-top: $double-offset;
    margin-bottom: $double-offset;
    text-transform: uppercase;
    width: 80%;
    max-width: 600px;
    text-align: center
}

@mixin outlined($color: $dark-color, $size: 1px) {
    color: transparent;
    -webkit-text-stroke: $size $color;
}


* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

html,
body {
    // overflow-x: hidden;
    height: 100vh;
}

body {
    font-family: $main-font;
    color: $dark-color;
    // background-color: #eed29b7e;
    background-color: #FCF7EE;
    // background-color: $soft-color;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    font-family: $secondary-font;
}

%abs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mask {
    overflow: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.nobreak {
    white-space: nowrap;
}