#burgerIcon {
  // display: none;
  cursor: pointer;
  position: fixed;
  top: $offset;
  right: $offset;
  z-index: 700;
  // width: 35px;
  // height: 40px;
  -webkit-user-select: none;
  user-select: none;

  @include media('<1100px') {
    display: block;
    top: 20px;
    right: 20px;
  }
  @include media('>=1100px') {
    display: none;
  }
}

.burgerWrapper {
  width: 55px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  @include flexVer;
  z-index: 700;

  &:hover,
  &:active {
    background-color: rgb(26, 25, 25)
  }
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    // background-color: black;
    background-color: $soft-color;
    margin: 3px 0;
    transition: 0.4s;
}


.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 7px);
  // transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}


#checkbox {
  opacity: 0.5;
  cursor: pointer;
  position: fixed;
  z-index: 710;
  width: 55px;
  height: 55px;
  -webkit-touch-callout: none;
}

#burgerMenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 600;
  width: 90%;
  height: 100vh;
  max-width: 300px;  
  padding: 50px;
  padding-top: 125px;
  background: black;
  color: $soft-color;
  opacity: 1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  li {
    padding: 15px 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: $forth-font;
    font-weight: 300;
    cursor: pointer;
  }

  li:hover,
  li:active {
    text-decoration: underline;
  }
}

#checkbox:checked #burgerMenu {
  right: 0%;  
}


