// ***********STYLES*********************
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 16px;
}

html,
body {
    // overflow: hidden;
    height: 100vh;
}

body {
    font-family: $main-font;
    color: $dark-color;
}

%abs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mask {
    overflow: hidden;
}

@mixin outlined($color: $dark-color, $size: 1px) {
    color: transparent;
    -webkit-text-stroke: $size $color;
}

/* #LAYOUT - START*/

#hero-slider {
    position: relative;
    height: 100vh;
    display: flex;
    background: $dark-color;

    &:not(.ready) {
        visibility: hidden;
    }
}

#logo {
    position: absolute;
    top: $offset;
    left: $offset;
    padding-right: $offset;
    z-index: 300;

    // .logo-text {
    //     // position: relative;
    //     // font-size: 2rem;
    //     // font-weight: 300;
    //     // color: #EED39B !important;
    // }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $soft-color;
    }
}

#slideshow {
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    padding: $offset;

}

#slides-main {
    @extend %abs;

    &:after {
        content: '';
        @extend %abs;
        background-color: $dark-color;
        z-index: 100;
    }

    .slide-image {
        @extend %abs;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
}



#slides-aux {
    position: relative;
    // top: 1.25rem;
    width: 100%;

    .slide-title {
        margin: 0;
        position: absolute;
        z-index: 300;
        font-size: 4vw;
        font-weight: 700;
        line-height: 1.3;
        @include outlined($soft-color);
        // color: $soft-color;
        // font-style: italic;
    }
}


#navigation {
    // width: 100%;
    position: absolute;
    top: $offset;
    right: $offset;
    z-index: 300;
    color: $soft-color;
    height: 45px;
    @include flexHor;
    
    ul {
        @include flexHor;
        
        li {
            margin-left: $offset;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-family: $third-font;
            font-weight: 300;
            cursor: pointer;
            height: 45px;
            @include flexVer
        }

        // .bookBtn {
        //     border: 1px solid $soft-color;
        //     border-radius: 5px;
        //     color: $soft-color;
        // }

        // .bookBtn a {
        //     font-family: $third-font;
        //     font-weight: 300;
        //     font-size: 1.1rem;
        //     padding-left: 10px;
        //     padding-right: 10px;
        //     height: 100%;
        //     @include flexVer;
        // }

        // .bookBtn:active {
        //     transform: translateY(2px);
        // }
        // .bookBtn:hover,
        // .bookBtn:focus {
        //     background-color: rgba(238, 211, 155, 0.4);
        //     color: $hover-color;
        // }
    }
}



#slider-nav {
    position: absolute;
    transform: rotateZ(90deg);
    top: 45vh;
    right: -1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 500;

    .current {
        color: $soft-color;
    }

    %pseudo {
        content: '';
        position: absolute;
        height: 100%;
        width: 50%
    }

    .sep {
        position: relative;
        width: 40px;
        height: 2px;
        margin: 0 1rem;

        &:before {
            @extend %pseudo;
            background-color: $soft-color;
            left: 0;
        }

        &:after {
            @extend %pseudo;
            background-color: $soft-color;
            right: 0;
        }
    }

    .total {
        color: $soft-color;
    }

    >span {
        font-size: 1.5rem;
    }
}

/* #LAYOUT - END*/

/* #INITIAL ANIMATION - START */

#hero-slider {
    #logo:after {
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition: transform .35s $easing;
    }

    .logo-text {
        display: block;
        transform: translate3d(120%, 0, 0);
        opacity: 0;
        transition: transform .8s .2s, opacity .5s .2s;
    }

    .current,
    .sep:before {
        opacity: 0;
        transition: opacity .4s 1.3s;
    }

    // #info {
    //     transform: translate3d(100%, 0, 0);
    //     transition: transform 1s $easing .6s;
    // }

    .line {
        transform-origin: 0% 0;
        transform: scaleX(0);
        transition: transform .7s $easing 1s;
    }

    .slider-title {
        overflow: hidden;

        >span {
            display: block;
            transform: translate3d(0, -100%, 0);
            transition: transform .5s 1.5s;
        }
    }

    &.ready {
        #logo:after {
            transform: scaleY(1);
        }

        .line {
            transform: scaleX(1);
        }

        .logo-text {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        #info,
        .slider-title>span {
            transform: translate3d(0, 0, 0);
        }

        .current,
        .sep:before {
            opacity: 1;
        }
    }

    &:not(.loaded) {
        .slide:not(:first-child) {
            visibility: hidden;
        }
    }
}

/* #INITIAL ANIMATION - END */

/* #SLIDESHOW - START */
#slides-main {
    overflow: hidden;

    .abs-mask {
        @extend %abs;
        overflow: hidden;
        will-change: transform;
    }

    .slide {
        @extend %abs;
        overflow: hidden;
        will-change: transform;

        .slide-image {
            will-change: transform;
        }

        &.prev {
            z-index: 5;
            transform: translate3d(-100%, 0, 0);
            transition: 1s $easing;

            .abs-mask {
                transform: translateX(80%);
                transition: 1s $easing;
            }

            // .slide-image {
            //     transition: transform 0s 1s;
            // }
        }

        &.active {
            z-index: 10;
            transform: translate3d(0, 0, 0);
            transition: transform 1s $easing;

            .abs-mask {
                transform: translate3d(0, 0, 0);
                transition: transform 1s $easing;
            }

            // .slide-image {
            //     transform: scale(1.01);
            //     transition: transform 1s $easing;
            // }
        }

        &:not(.prev):not(.active) {
            z-index: -1;
            transform: translate3d(100%, 0, 0);

            .abs-mask {
                transform: translateX(-50%);
            }
        }

        // &:not(.active) {
        //     .slide-image {
        //         transform: scale(1.21);
        //     }
        // }

        @at-root #hero-slider.prev & {
            &.prev {
                transform: translate3d(100%, 0, 0);

                .abs-mask {
                    transform: translate3d(-80%, 0, 0);
                }
            }

            &:not(.prev):not(.active) {
                transform: translate3d(-100%, 0, 0);

                .abs-mask {
                    transform: translate3d(50%, 0, 0);
                }
            }
        }
    }
}

#slides-aux {
    .slide {
        &:not(.active) {
            transform: translateX(-20%);
            opacity: 0;
        }

        &.prev {
            transition: transform .0s .2s, opacity .2s;
        }

        &.active {
            transition: opacity .6s .8s, transform .5s cubic-bezier(0.23, 1, 0.32, 1) .8s;
        }
    }
}

/* #SLIDESHOW - END */

/* #RESPONSIVE - START*/
/* Landscape */
@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    #info {

        .line,
        .about {
            display: none;
        }

        .slider-title-wrapper {
            top: auto;
            bottom: 2rem;
            left: calc(70% + 11px);
            transform-origin: 35% -100%;
        }
    }

    #slides-aux {
        top: 0;
    }
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
    #info {
        display: none;
    }

    #slides-aux {
        display: flex;
        align-items: flex-end;
        top: 0;

        .slide-title {
            font-size: 3rem;
        }
    }

    #slider-nav {
        right: rem;
    }
}


@media only screen and (max-device-width: 680px) and (orientation: portrait) {
    #slides-aux {
        .slide-title {
            font-size: 2.5rem;
        }
    }

    #slider-nav {
        top: 6rem;
        right: auto;
        left: 2rem;
    }
}

/* #RESPONSIVE - END*/