// Hero page - START
#hero-slider {
    position: relative;
    height: 100vh;
    display: flex;
    // background: rgba(0, 0, 0, 0.8);
    overflow: hidden;

    &:not(.ready) {
        visibility: hidden;
    }

    .navBar {
        position: absolute;
        top: 0;
        left: 0;
        // width: 0;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100px;
        width: 100vw;
        z-index: 200;
    }
}

#logo {
    position: absolute;
    top: $offset;
    left: $offset;
    padding-right: $offset;
    z-index: 300;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $soft-color;
    }
}

@include media('>525px', '<tablet') {
    #logo {
        img {
            height: 40px;        
        }
    }
}
@include media('>320px', '<=525px') {
    #logo {
        padding-right: 1rem;
        img {
            margin-top: 0px;
            height: 35px;
        }
        &:after {
            background-color: transparent;
        }
    }
}
@include media('>phone', '<=320px') {
    #logo {
        padding-right: 1rem;
        img {
            margin-top: 0px;
            height: 30px;
        }
        &:after {
            background-color: transparent;
        }
    }
}


#slideshow {
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    padding: $offset;

}

#slides-main {
    @extend %abs;

    &:after {
        content: '';
        @extend %abs;
        background-color: transparent;
        // background-color: rgba(0, 0, 0, .3);
        z-index: 100;
    }

    .slide-image {
        @extend %abs;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
}
@include media('>phone', '<=525px') {
    #slides-main {
        background-image: url('../img/mobileHomeBg.jpg');
        background-size: cover;
        background-position: 50% 50%;
        // .slide {
        //     display: none;
        // }
    }
}



#slides-aux {
    position: relative;
    // top: 1.25rem;
    width: 100%;

    .slide-title {
        margin: 0;
        position: absolute;
        z-index: 300;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.3;
        // @include outlined($dark-color);
        color: $soft-color;
        font-style: italic;
        // font-family: $third-font;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid transparent;
        border-radius: 5px;
    }    
}

@include media('>450px', '<=tablet') {
    .slide-title {
        font-size: 2rem !important;
    }
}
@include media('>phone', '<=450px') {
    .slide-title {
        font-size: 1.5rem !important;
    }
}


#navigation {
    position: absolute;
    top: $offset;
    right: $offset;
    z-index: 300;
    color: $soft-color;
    height: 45px;
    @include flexHor;
    justify-content: flex-end;
    
    ul {
        @include flexHor;
        
        li {
            margin-left: $offset;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-family: $forth-font;
            // font-family: $third-font;
            font-weight: 300;
            cursor: pointer;
            height: 45px;
            @include flexVer;
        }

        li a {
            border-bottom:1px solid transparent;
            padding-bottom: 2px;
        }

        a:hover,
        a:active {
            // text-decoration: underline;
            border-bottom:1px solid $soft-color;
            padding-bottom:2px;
        }
    }

    @include media('<1100px') {
        display: none;
    }
}




#slider-nav {
    position: absolute;
    transform: rotateZ(90deg);
    top: 45vh;
    right: -1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 500;

    .current {
        color: $soft-color;
    }

    %pseudo {
        content: '';
        position: absolute;
        height: 100%;
        width: 50%
    }

    .sep {
        position: relative;
        width: 40px;
        height: 2px;
        margin: 0 1rem;

        &:before {
            @extend %pseudo;
            background-color: $soft-color;
            left: 0;
        }

        &:after {
            @extend %pseudo;
            background-color: $soft-color;
            right: 0;
        }
    }

    .total {
        color: $soft-color;
    }

    >span {
        font-size: 3vmin;
        // font-size: 1.5rem;
    }

    @include media('<tablet') {
        display: none;
    }
}

/* #LAYOUT - END*/

/* #INITIAL ANIMATION - START */

#hero-slider {
    #logo:after {
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition: transform .35s $easing;
    }

    .logo-text {
        display: block;
        transform: translate3d(120%, 0, 0);
        opacity: 0;
        transition: transform .8s .2s, opacity .5s .2s;
    }

    .current,
    .sep:before {
        opacity: 0;
        transition: opacity .4s 1.3s;
    }

    // #info {
    //     transform: translate3d(100%, 0, 0);
    //     transition: transform 1s $easing .6s;
    // }

    .line {
        transform-origin: 0% 0;
        transform: scaleX(0);
        transition: transform .7s $easing 1s;
    }

    .slider-title {
        overflow: hidden;

        >span {
            display: block;
            transform: translate3d(0, -100%, 0);
            transition: transform .5s 1.5s;
        }
    }

    &.ready {
        #logo:after {
            transform: scaleY(1);
        }

        .line {
            transform: scaleX(1);
        }

        .logo-text {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        #info,
        .slider-title>span {
            transform: translate3d(0, 0, 0);
        }

        .current,
        .sep:before {
            opacity: 1;
        }
    }

    &:not(.loaded) {
        .slide:not(:first-child) {
            visibility: hidden;
        }
    }
}

/* #INITIAL ANIMATION - END */

/* #SLIDESHOW - START */
#slides-main {
    overflow: hidden;

    .abs-mask {
        @extend %abs;
        overflow: hidden;
        will-change: transform;
    }

    .slide {
        @extend %abs;
        overflow: hidden;
        will-change: transform;

        .slide-image {
            will-change: transform;
        }

        &.prev {
            z-index: 5;
            transform: translate3d(-100%, 0, 0);
            transition: 1s $easing;

            .abs-mask {
                transform: translateX(80%);
                transition: 1s $easing;
            }

            // .slide-image {
            //     transition: transform 0s 1s;
            // }
        }

        &.active {
            z-index: 10;
            transform: translate3d(0, 0, 0);
            transition: transform 1s $easing;

            .abs-mask {
                transform: translate3d(0, 0, 0);
                transition: transform 1s $easing;
            }

            // .slide-image {
            //     transform: scale(1.01);
            //     transition: transform 1s $easing;
            // }
        }

        &:not(.prev):not(.active) {
            z-index: -1;
            transform: translate3d(100%, 0, 0);

            .abs-mask {
                transform: translateX(-50%);
            }
        }

        // &:not(.active) {
        //     .slide-image {
        //         transform: scale(1.21);
        //     }
        // }

        @at-root #hero-slider.prev & {
            &.prev {
                transform: translate3d(100%, 0, 0);

                .abs-mask {
                    transform: translate3d(-80%, 0, 0);
                }
            }

            &:not(.prev):not(.active) {
                transform: translate3d(-100%, 0, 0);

                .abs-mask {
                    transform: translate3d(50%, 0, 0);
                }
            }
        }
    }
}

#slides-aux {
    .slide {
        &:not(.active) {
            transform: translateX(-20%);
            opacity: 0;
        }

        &.prev {
            transition: transform .0s .2s, opacity .2s;
        }

        &.active {
            transition: opacity .6s .8s, transform .5s cubic-bezier(0.23, 1, 0.32, 1) .8s;
        }
    }
}


// @media only screen and (max-device-width: 768px) and (orientation: portrait) {
//     #slides-aux {
//         display: flex;
//         align-items: flex-end;
//         top: 0;
//     }
// }



