#map {
    @include flexVer;
    margin-top: $offset;
    margin-bottom: $triple-offset;
    
    h2 {
        @include sectionHeading;
    }

    @include media('>=phone', '<970px') {
        margin-bottom: 0;
        margin-top: $offset;
    }
}

.map_container {
    @include flexHor;
    width: 100%;
    
    iframe {
        flex: 1 1 50%;
    }
}

@include media('>=phone', '<970px') {
    .map_container {
        @include flexVer;
        // min-height: 1000px;

        .infoContainer {
            padding: $offset 0;

            // iframe {
            //     height: 450px;
            // }

            &_address {
                @include flexHor;
                justify-content: center;
                // align-items: flex-start;
            }

            &_instructions {
                padding-left: 10px;
            }

            &_instructions__title {
                text-align: center;
            }
        }
    }
}

@include media('>=phone', '<450px') {
    .infoContainer {
        &_address {
            padding-left: 10px;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

.infoContainer {
    flex: 1 1 50%;
    padding: $offset;
    padding-right: 0;
    
    &_address {
        @include flexHor;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1.5rem;

        p {
            font-weight: 700;
        }
        
        i {
            margin-right: 10px;
            width: 30px;
            font-size: 30px;
        }
    }

    &_instructions {
        padding-left: 40px;

        p {
            padding-bottom: 10px;
        }

        &__title {
            font-weight: 700;
        }
    }
}
