#map {
    @include flexVer;
    margin-top: $double-offset;
    margin-bottom: $triple-offset;
    
    h2 {
        @include sectionHeading;
    }
}

.map_container {
    @include flexHor;
    
    iframe {
        flex: 1 1 auto;
    }
}

.infoContainer {
    flex: 1 1 50%;
    padding: $offset;
    padding-right: 0;
    
    &_address {
        @include flexHor;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1.5rem;

        p {
            font-weight: 700;
        }
        
        i {
            margin-right: 10px;
            width: 30px;
            font-size: 30px;
        }
    }

    &_instructions {
        padding-left: 40px;

        p {
            padding-bottom: 10px;
        }

        &__title {
            font-weight: 700;
        }
    }
}
