.modal {
    display: none;
    position: fixed;
    z-index: 500;
    background-color: rgba(238, 211, 155, 0.3);
    // width: 70%;
    // border: 1px solid #ccc;
    // box-shadow: 1px 1px 1px black;
    // padding: 16px;
    // left: 15%;
    // top: 30%;
    // box-sizing: border-box;
    // transition: all 0.3s ease-out;
    // transform: translateY();
    
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    // background-color: rgb(0,0,0); /* Fallback color */
    // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
.modal-content {
    border-radius: 10px;
    transition: all 0.3s ease-out;
    // opacity: 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    @include flexVer;
    margin: 15% auto;
    padding:  60px 80px;
    // width: auto;
    width: 500px;
    background-color: whitesmoke;
    // border: 1px solid 
    // left: 15%;
    // top: 30%;
    font-family: $third-font;
    position: relative;

    .closeBtn {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: #797979;
    
        &:hover,
        &:focus {
            color: #000;
            cursor: pointer;
        }
    }

    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
        text-align: center;
        margin: 30px 30px 50px 30px;
        width: 100%;
        line-height: 150%;
    }
    
    form {
        @include flexVer;

        input {
            padding: 0.25em 0.5em;
            width: 300px;
            height: 45px;
            font-size: 1.1rem;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 2px solid #caad72;
            transition: 180ms box-shadow ease-in-out;
            font-family: $third-font;
        }
        input:focus {
            box-shadow: 0px 0px 0px 1px $soft-color;
        }
    }

    button {
        margin-top: 30px;
        width: 300px;
        height: 55px;
        border-radius: 5px;
        border: none;
        background-color: $soft-color;
        color: rgb(80, 79, 75);
        font-size: 1.1rem;
        cursor: pointer;
        font-family: $third-font;

        &:active {
            transform: translateY(2px);
        }

        &:hover,
        &:focus {
            background-color: $hover-color;
            border: 2px solid #caad72;
        }
    }
}

//hidden labels
.visually-hidden:not(:focus):not(:active) { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}


@media (min-width: 600px) {
    .modal {
        // width: 500px;
        // left: calc(50% - 250px);
    }
}

// transform: this.props.show ? 'translateY(0)' : 'translateY(-100vh)',
// opacity: this.props.show ? '1' : '0',
