#pricing {
    @include flexVer;
    background-image: url(../img/book-time-bg.png);
    // background-repeat: repeat;
    // background-position: center;
    background-size: cover;

    h2 {
        @include sectionHeading;
        margin-top: $triple-offset;
            margin-bottom: $offset;
    }
}

.cards-container {
    @include flexHor;
}

.pricing_card {
    @include flexVer;
    width: 80%;
    max-width: 330px;
    margin: $offset;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    background-color: $soft-color;

    &:hover {
        // scale: 1.01;
        // transform: translateY(-2px);
        // transition: all 0.4s ease-in-out;
    }

    &__imgBox {
        height: 150px;
        width: 100%;
        
        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .opacity {
            opacity: 0.8;
        }
    }


    p {
        padding: 1rem 1.5rem;

    }

    &__priceTag {
        font-size: 3rem;
        
    }

    &__title {
        font-weight: 700;
    }
}

.pricing-note {
    margin-top: $offset;
    margin-bottom: $triple-offset;
    font-size: 1.4rem;
}


