a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio, canvas, video {
  display: inline-block;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, html, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none; }

html {
  font-size: 16px; }

html,
body {
  height: 100vh; }

body {
  font-family: "Muli", sans-serif;
  color: #030303; }

#slides-main, #slides-main:after, #slides-main .slide-image, #slides-main .abs-mask, #slides-main .slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.mask {
  overflow: hidden; }

/* #LAYOUT - START*/
#hero-slider {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #030303; }
  #hero-slider:not(.ready) {
    visibility: hidden; }

#logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding-right: 2rem;
  z-index: 300; }
  #logo:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #EED39B; }

#slideshow {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 2rem; }

#slides-main:after {
  content: '';
  background-color: #030303;
  z-index: 100; }

#slides-main .slide-image {
  background-position: center;
  background-size: cover;
  z-index: -1; }

#slides-aux {
  position: relative;
  width: 100%; }
  #slides-aux .slide-title {
    margin: 0;
    position: absolute;
    z-index: 300;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.3;
    color: transparent;
    -webkit-text-stroke: 1px #EED39B; }

#navigation {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 300;
  color: #EED39B;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #navigation ul li {
      margin-left: 2rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-family: "Philosopher", sans-serif;
      font-weight: 300;
      cursor: pointer;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

#slider-nav {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  top: 45vh;
  right: -1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 500; }
  #slider-nav .current {
    color: #EED39B; }
  #slider-nav .sep:before, #slider-nav .sep:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%; }
  #slider-nav .sep {
    position: relative;
    width: 40px;
    height: 2px;
    margin: 0 1rem; }
    #slider-nav .sep:before {
      background-color: #EED39B;
      left: 0; }
    #slider-nav .sep:after {
      background-color: #EED39B;
      right: 0; }
  #slider-nav .total {
    color: #EED39B; }
  #slider-nav > span {
    font-size: 1.5rem; }

/* #LAYOUT - END*/
/* #INITIAL ANIMATION - START */
#hero-slider #logo:after {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.694, 0, 0.335, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.694, 0, 0.335, 1);
  -o-transition: transform 0.35s cubic-bezier(0.694, 0, 0.335, 1);
  transition: transform 0.35s cubic-bezier(0.694, 0, 0.335, 1);
  transition: transform 0.35s cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 0.35s cubic-bezier(0.694, 0, 0.335, 1); }

#hero-slider .logo-text {
  display: block;
  -webkit-transform: translate3d(120%, 0, 0);
  transform: translate3d(120%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity .5s .2s, -webkit-transform .8s .2s;
  transition: opacity .5s .2s, -webkit-transform .8s .2s;
  -o-transition: transform .8s .2s, opacity .5s .2s;
  transition: transform .8s .2s, opacity .5s .2s;
  transition: transform .8s .2s, opacity .5s .2s, -webkit-transform .8s .2s; }

#hero-slider .current,
#hero-slider .sep:before {
  opacity: 0;
  -webkit-transition: opacity .4s 1.3s;
  -o-transition: opacity .4s 1.3s;
  transition: opacity .4s 1.3s; }

#hero-slider .line {
  -webkit-transform-origin: 0% 0;
  -ms-transform-origin: 0% 0;
  transform-origin: 0% 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.694, 0, 0.335, 1) 1s;
  transition: -webkit-transform 0.7s cubic-bezier(0.694, 0, 0.335, 1) 1s;
  -o-transition: transform 0.7s cubic-bezier(0.694, 0, 0.335, 1) 1s;
  transition: transform 0.7s cubic-bezier(0.694, 0, 0.335, 1) 1s;
  transition: transform 0.7s cubic-bezier(0.694, 0, 0.335, 1) 1s, -webkit-transform 0.7s cubic-bezier(0.694, 0, 0.335, 1) 1s; }

#hero-slider .slider-title {
  overflow: hidden; }
  #hero-slider .slider-title > span {
    display: block;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform .5s 1.5s;
    transition: -webkit-transform .5s 1.5s;
    -o-transition: transform .5s 1.5s;
    transition: transform .5s 1.5s;
    transition: transform .5s 1.5s, -webkit-transform .5s 1.5s; }

#hero-slider.ready #logo:after {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

#hero-slider.ready .line {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

#hero-slider.ready .logo-text {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#hero-slider.ready #info,
#hero-slider.ready .slider-title > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#hero-slider.ready .current,
#hero-slider.ready .sep:before {
  opacity: 1; }

#hero-slider:not(.loaded) .slide:not(:first-child) {
  visibility: hidden; }

/* #INITIAL ANIMATION - END */
/* #SLIDESHOW - START */
#slides-main {
  overflow: hidden; }
  #slides-main .abs-mask {
    overflow: hidden;
    will-change: transform; }
  #slides-main .slide {
    overflow: hidden;
    will-change: transform; }
    #slides-main .slide .slide-image {
      will-change: transform; }
    #slides-main .slide.prev {
      z-index: 5;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      -webkit-transition: 1s cubic-bezier(0.694, 0, 0.335, 1);
      -o-transition: 1s cubic-bezier(0.694, 0, 0.335, 1);
      transition: 1s cubic-bezier(0.694, 0, 0.335, 1); }
      #slides-main .slide.prev .abs-mask {
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
        transform: translateX(80%);
        -webkit-transition: 1s cubic-bezier(0.694, 0, 0.335, 1);
        -o-transition: 1s cubic-bezier(0.694, 0, 0.335, 1);
        transition: 1s cubic-bezier(0.694, 0, 0.335, 1); }
    #slides-main .slide.active {
      z-index: 10;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1);
      transition: -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1);
      -o-transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1);
      transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1);
      transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1); }
      #slides-main .slide.active .abs-mask {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1);
        transition: -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1);
        -o-transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1);
        transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1);
        transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1); }
    #slides-main .slide:not(.prev):not(.active) {
      z-index: -1;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); }
      #slides-main .slide:not(.prev):not(.active) .abs-mask {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    #hero-slider.prev #slides-main .slide.prev {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); }
      #hero-slider.prev #slides-main .slide.prev .abs-mask {
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0); }
    #hero-slider.prev #slides-main .slide:not(.prev):not(.active) {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
      #hero-slider.prev #slides-main .slide:not(.prev):not(.active) .abs-mask {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0); }

#slides-aux .slide:not(.active) {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
  opacity: 0; }

#slides-aux .slide.prev {
  -webkit-transition: opacity .2s, -webkit-transform .0s .2s;
  transition: opacity .2s, -webkit-transform .0s .2s;
  -o-transition: transform .0s .2s, opacity .2s;
  transition: transform .0s .2s, opacity .2s;
  transition: transform .0s .2s, opacity .2s, -webkit-transform .0s .2s; }

#slides-aux .slide.active {
  -webkit-transition: opacity 0.6s 0.8s, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  transition: opacity 0.6s 0.8s, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  -o-transition: opacity 0.6s 0.8s, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  transition: opacity 0.6s 0.8s, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  transition: opacity 0.6s 0.8s, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.8s; }

/* #SLIDESHOW - END */
/* #RESPONSIVE - START*/
/* Landscape */
@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  #info .line,
  #info .about {
    display: none; }
  #info .slider-title-wrapper {
    top: auto;
    bottom: 2rem;
    left: calc(70% + 11px);
    -webkit-transform-origin: 35% -100%;
    -ms-transform-origin: 35% -100%;
    transform-origin: 35% -100%; }
  #slides-aux {
    top: 0; } }

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  #info {
    display: none; }
  #slides-aux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    top: 0; }
    #slides-aux .slide-title {
      font-size: 3rem; }
  #slider-nav {
    right: rem; } }

@media only screen and (max-device-width: 680px) and (orientation: portrait) {
  #slides-aux .slide-title {
    font-size: 2.5rem; }
  #slider-nav {
    top: 6rem;
    right: auto;
    left: 2rem; } }

/* #RESPONSIVE - END*/
.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (3.6vw)[16];
  grid-template-rows: repeat(16, 3.6vw);
  grid-gap: 10px;
  margin: 2rem; }

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.gallery__item--1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 8;
  grid-row-end: 9; }

.gallery__item--2 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 5;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5; }

.gallery__item--3 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 5;
  grid-column-end: 13;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 4;
  grid-row-end: 9; }

.gallery__item--4 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 5;
  grid-column-end: 13;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 4;
  grid-row-end: 13; }

.gallery__item--5 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 5;
  grid-column-end: 13;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 4;
  grid-row-end: 17; }

.gallery__item--6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 8;
  grid-row-end: 17; }

.gallery__item--7 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 8;
  grid-row-end: 17; }

.gallery__item--8 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 8;
  grid-row-end: 17; }
